# ignore cache folder
/silverstripe-cache/

# ignore all environment files


# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore composer dependencies
/cms/
/framework/
/reports/
/siteconfig/
